# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

Popular languages used:

- Python
- SQL
- R

Commonly used tools:

- Jupyter Notebook
- RStudio
- ApacheSpark

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. Plotly

| Data Science Tools |
| -------------------|
| Jupyter Notebook |
|------------------|
| RStudio |
|---------|
|Apache Spark |
|-------------|

### Below are a few examples of evaluating arithmetic expressions in Python.

# Example 1: Addition
result_addition = 5 + 3
print("Addition:", result_addition) # Output: Addition: 8

# Example 2: Subtraction
result_subtraction = 10 - 6
print("Subtraction:", result_subtraction) # Output: Subtraction: 4

In [1]:
# This is a simple arithmetic expression to multiply then add integers.

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60.

In [4]:
# 1 hour = 60 minutes.
# Hence, to convert minutes to hours ( a smaller unit to bigger unit), you have to divide by 60.

In [5]:
(200/60)

3.3333333333333335

## Author

Sreekala Suresh